body {
    font-family: sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Comfortaa';
}

.main-div {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-image {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.cars {
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: center; /* Center items horizontally */
    gap: 10%;
    padding: 2%
}

.icon-container {
    display: flex; /*Use flexbox to align items vertically */
    flex-direction: column; /* Align children (image and text) in a column */
    align-items: center; /* Center items horizontally */
}

.icon-img {
    width: 90px; /* Set a fixed width */
    height: 90px;
    /* height: 10%; Set a fixed height */
    object-fit: cover; 
}

.icon-text {
    text-align: center; /* Center text under the image */
    margin-top: 5px; /* Space between the image and text */
    font-size: 20px; /* Adjust font size as needed */
}

.profile,
.manage-bookings,
.logo-div {
    position: absolute;
    top: 30px;
    z-index: 1;
}

.profile {
    right: 30px;
}

.manage-bookings {
    right: 140px;
}

.logo-div {
    left: 30px;
}

.profile button,
.manage-bookings button,
.buton-logo {
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s, text-decoration 0.3s;
}

.profile button:hover,
.manage-bookings button:hover,
.buton-logo:hover {
    text-decoration: underline;
    color: #e0e0e0;
}

.white-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 780px;
    max-width: 900px;
    height: 110px;
    max-height: 150px;
    background-color: white;
    z-index: 1000;
    display:flex;
    /* justify-content: space-between; */
    align-items:center;
    border-radius: 25px;
    padding-left: 20px;
    

}



.input-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
}

.select-location {
    position: absolute;
    height: 39px;
    width: 350px;
    bottom: 20%;
    border-radius: 10px;
    cursor: pointer;
}

.date-inputs {
    
}

.date1 {
    position: absolute;
    height: 33px;
    bottom: 20%;
    width: 100px;
    right: 140px;
    padding: 2px;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    
} 

.date2 {
    position: absolute;
    bottom: 20%;
    height: 33px;
    width: 100px;   
    right: 245px;
    padding: 2px;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;

}

.show-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 120px;
    background-color:#FF0000 ;
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    color: white;
    font-size: 22px;
    margin-left: 20px;
    cursor: pointer;
}

.pick-up-location {
    position: absolute;
    margin: 0px;
    top: 25%;
    left: 17%;
    font-size: 15px;
}

.pick-up-date {
    position: absolute;
    top: 25%;
    right: 145px;
    font-size: 15px;
}

.title {
    padding-bottom: 100px;
}

.title-text {
    text-align: center;
    display: flex;
    font-size: 40px;
    font-weight: bolder;
    justify-content: center;
    margin-top: 7%;
    font-family: 'Bebas Neue', sans-serif; 
    letter-spacing: 0.5px; 
}

.car-grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 50px;
    row-gap: 50px;
    margin-left: 240px;
    margin-right: 240px;
    
}

.car-grid button {
    border-radius: 25px;
    border-color: transparent;  
    background-color: transparent;
    cursor: pointer;

    padding: 0px;
}

.car-grid button:hover {
    border-color: rgb(35, 133, 224);
    border-radius: 30px;
}
